.roadmap{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.roadmapTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
}
.roadmapHead{

    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.roadmapMoto{
   
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.roadmapPath{
 
    display: flex;
    flex-direction: row;
    margin-top: 60px;
 
}
.leftCont{
    display: flex;
    flex-direction: column;
    gap: 89px;
    position: relative;
    top: 10px;
   left: 150px;
}

.rightCont{

    display: flex;
    flex-direction: column;
    gap: 89px;
    position: relative;
    right: 150px;
    top: 13px;
}
.mid_line{
    margin-top: 89px;
    
    display: flex;
    flex-direction: row;
    
}
.line{
    width: 4px;
    height: 712px;

    
}
.circle0{
width: 24px;
height: 24px;
flex-shrink: 0;
position: relative;
left: 15px;

}

.lineCircle{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.linecircleGrp1, .linecircleGrp2,.linecircleGrp3 {
    display: flex;
    flex-direction: column;
    gap: 89px;
}

.roadmapPattern{
    display: flex;
    
}


.leftIndicator{   
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    gap: 271px;
    position: relative;
    left: 15px;

}
.rightIndicator{
    display: flex;
    margin-top: 210px;
    flex-direction: column;
    gap: 273px;
    margin-right: 12px;
   
}
.leftArrow, .rightArrow{
    width: 130px;
} 

.borderPatternLeft{
    display: flex;
    flex-direction: column;
    gap: 55px;
  
}
.borderPatternRight{
 
    height: 230px;
}
.borderPatternRight1{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
  }
.borderPatternLeft1{
   height: 230px;
}
.leftPart{
    display: flex;
    position: relative;
    left: 13px;
}
.rightPart{
    display: flex;
    margin-top: 101px;
    position: relative; 
    right: 13px;
}
.eclipse3{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0px;
    top: 2900px;
}