/* ---------------------navBar css---------------- */
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 40px 120px 0px 120px;
  }
  .nav_cont1{
    color:white;
    display: flex;
    /* width:1200px;
    height:54px; */
    gap: 50px;
    align-items: center;
  }
  #nav_head1, #nav_head2, #nav_head3{
    font: 'Inter';
    color: white;
    /* align-self: center; */
    text-decoration: none;

  }
  #nav_head3_pro{

    background: #15BFFD;
    padding: 2px;
    font-family: 'Inter';
  
  }
  .nav_cont2{
    display: flex;
    gap: 20px;
 
  }
  #search_bar{
  border: 1px solid #15BFFD;
  border-radius: 30px;
  width: 186px;
  height: 40px;
  color: #15BFFD;
  
  background: none;
}
#search_bar::placeholder {
  color: #15BFFD; 
  font-size: 20px;
  font-weight: 300;
  font-family: 'Inter';
  text-align: center;
  }
  .searchIcon{
  width: 18.76px;
  height: 19.22px;
  align-self: center;
  }
  .upload{
  width: 44px;
  height: 44px;
  }

@media  (max-width:650px) {

.eclipse{
  display: none;
}
.navBar{
  transform: scale(0.5);
  margin-left: 0px;
  margin-top: 15px;
  width: 100%;
  gap: 0px;
}   
.nav_cont1{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
position: relative;
left: -150px;
gap: 30px;
}
.nav_cont2{
  position: relative; 
  left: -130px;
}
#nav_head3, #nav_head3_pro{
  display: inline-block;
}
}